<div class="grammar_side_bar">
  <%= side_bar(@grammars).html_safe %>
</div>
<div class="grammar_yield">
  <h1>Workbench</h1>
  <% if @current_grammar.nil? %>
    Please choose a grammar from the left.
  <% else %>
    <%= @current_grammar.name %> <% if @current_grammar.public%>(public)<% else %>(private)<%end%> is the current grammar.

	<%= form_tag :action => 'workpad' do %>
	  <ul class="form_wide">
      <li><label for="start">Initial Rule:</label>
        <input id="start" type="text" value="<%= @start %>" size="30" name="start" class="rule"/></li>
      <li><label for="string">String:</label>
	    <input id="string" type="text" value="<%= @string %>" size="30" name="string" class="rule"/></li>
      <li><label for="result">Result:</label>
	    <input id="result" type="text" value="<%= @result %>" size="30" name="result" disabled class="rule"/></li>
	  </ul>
      <ul class="form"><li><%= submit_tag 'Evaluate/Translate' %></li></ul>
    <% end %>

    <p>Rules for the current grammar:</p>
    <% cache :cgid => @current_grammar.id do %>
      <%= print_rules(@current_grammar).html_safe %>
    <% end %>

  <% end %>
</div>
